<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Mnemonics App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 id = "main_name">Mnemonics Form</h1>
    <form method="post" action="/submit">
        <label for="textM">TextM:</label>
        <input type="text" id="textM" name="textM" required>
        <br><br>
        <label for="textW">TextW:</label>
        <input type="text" id="textW" name="textW" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
