@page "/json-upload"
@using Microsoft.AspNetCore.Components.Forms
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.Text.Json
@using static MindBlown.Types.MnemonicsType
@inject NavigationManager Navigation

<link rel="stylesheet" href="css/FileUpload.css" />


<div class="upload-container">
    <h1>Upload JSON File</h1>

    <label for="file-upload" class="custom-file-label">Choose File</label>
    <InputFile id="file-upload" OnChange="HandleFileSelected" accept=".json" />

    @if (fileInfo != null)
    {
        <p>File name: @fileInfo.Name</p>
        <p>File size: @fileInfo.Size bytes</p>
    }

    <div class="SuccesMessage">@message</div>

    <button @onclick="UploadFile">Upload</button>
    <button @onclick="ReturnToSetup">Go back</button>

</div>

