@page "/"

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="css/home.css" />

<div class="container">
    <img src="static/MnemonicsLogo.png" alt="Mnemonics Logo" class="logo" />
    <p>Our project is aimed at improving users' memory using various implementations of mnemonics. Join us in mastering the art of memory!</p>
</div>
