.mnemonics-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

h4 {
    color: #666;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.mnemonic-status {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 20px;
}

.mnemonic-display span {
    color: #5762d5ff;
    font-weight: bold;
}

.loading-message {
    color: #e76f51;
}

.input-container {
    margin: 20px 0;
}

.input-text {
    width: 80%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.input-text:focus {
    border-color: #5762d5ff;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5762d5ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
}

button:hover {
    background-color: rgba(87, 97, 213, 0.702);;
}

.stats-results {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.wrong-answer-container {
    margin-top: 30px;
    background-color: #fae1dd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: #e76f51;
}

.wrong-answer-container h4 {
    color: #e76f51;
    margin-bottom: 10px;
}

.wrong-answer-container div {
    margin-bottom: 8px;
    font-size: 1rem;
}
